fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
passlib[bcrypt]
bcrypt
python-jose[cryptography]
python-multipart
ultralytics
mediapipe
opencv-python-headless
numpy
filterpy
lapx
email-validator
httpx

